<%= form_for @nhanvien, :data => {:remote => true}, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
    <ul class="errors"></ul>
    <div class="col-sm-12">
      <fieldset class="paddingtop0">
        <legend>Thông tin liên hệ</legend>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_dtdd">ĐT di động</label>
              <div class="col-sm-9">
                <%= f.text_field :dtdd, :class => "form-control input-sm" %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_dtcoquan">ĐT cơ quan</label>
              <div class="col-sm-9">
                <%= f.text_field :dtcoquan, :class => "form-control input-sm" %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_dtcoquan">Email cơ quan</label>
              <div class="col-sm-9">
                <%= f.text_field :emailcoquan, :class => "form-control input-sm" %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_dtnharieng">ĐT nhà riêng</label>
              <div class="col-sm-9">
                <%= f.text_field :dtnharieng, :class => "form-control input-sm" %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_emailcanhan">Email cá nhân</label>
              <div class="col-sm-9">
                <%= f.text_field :emailcanhan, :class => "form-control input-sm" %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_yahoo">Yahoo</label>
              <div class="col-sm-9">
                <%= f.text_field :yahoo, :class => "form-control input-sm" %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_skype">Skype</label>

              <div class="col-sm-9">
                <%= f.text_field :skype, :class => "form-control input-sm" %>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <fieldset class="paddingtop0">
          <legend>Hộ khẩu thương trú</legend>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="nhanvien_diachithuongtru">Địa chỉ</label>
                <div class="col-sm-9">
                  <%= f.text_field :diachithuongtru, :class => "form-control input-sm" %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="nhanvien_thuongtru_btdtt_id">Tỉnh/TP</label>
                <div class="col-sm-9">
                  <%= f.collection_select(:thuongtru_btdtt_id, Btdtt.all, :id, :ten_vi, {prompt: "-- Chọn --"}, {class: "form-control input-sm"}) %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="thuongtru_btdquan_id_btdtt_id">Quận/Huyện</label>
                <div class="col-sm-9">
                  <%= f.grouped_collection_select(:thuongtru_btdquan_id, Btdtt.order(:ten_vi), :btdquans, :ten_vi, :id, :ten_vi, {prompt: "-- Chọn --"}, {class: "form-control input-sm"}) %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="thuongtru_btdpxa_id_btdquan_id">Phường/Xã</label>
                <div class="col-sm-9">
                  <%= f.grouped_collection_select(:thuongtru_btdpxa_id, Btdquan.order(:ten_vi), :btdpxas, :ten_vi, :id, :ten_vi, {prompt: "-- Chọn --"}, {class: "form-control input-sm"}) %>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset class="paddingtop0">
          <legend>Nơi ở hiện nay</legend>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="nhanvien_diachitamtru">Địa chỉ</label>
                <div class="col-sm-9">
                  <%= f.text_field :diachitamtru, :class => "form-control input-sm" %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="nhanvien_tamtru_btdtt_id">Tỉnh/TP</label>
                <div class="col-sm-9">
                  <%= f.collection_select(:tamtru_btdtt_id, Btdtt.all, :id, :ten_vi, {prompt: "-- Chọn --"}, {class: "form-control input-sm"}) %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="nhanvien_tamtru_btdquan_id">Quận/Huyện</label>
                <div class="col-sm-9">
                  <%= f.grouped_collection_select(:tamtru_btdquan_id, Btdtt.order(:ten_vi), :btdquans, :ten_vi, :id, :ten_vi, {prompt: "-- Chọn --"}, {class: "form-control input-sm"}) %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="nhanvien_tamtru_btdpxa_id">Phường/Xã</label>
                <div class="col-sm-9">
                  <%= f.grouped_collection_select(:tamtru_btdpxa_id, Btdquan.order(:ten_vi), :btdpxas, :ten_vi, :id, :ten_vi, {prompt: "-- Chọn --"}, {class: "form-control input-sm"}) %>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row col-sm-12">
      <fieldset class="paddingtop0">
        <legend>Liên hệ khẩn cấp</legend>
        <div class="row">
          <div class="col-sm-7">
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_hotennguoithan">Họ tên</label>
              <div class="col-sm-4">
                <%= f.text_field :hotennguoithan, :class => "form-control input-sm" %>
              </div>
              <label class="col-sm-2 control-label" for="nhanvien_hotennguoithan">Quan hệ</label>
              <div class="col-sm-3">
                <%= f.collection_select(:quanhegiadinh_id, Quanhegiadinh.all, :id, :ten_vi, {prompt: "-- Chọn --"}, {class: "form-control input-sm"}) %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_hotennguoithan">ĐT di động</label>
              <div class="col-sm-9">
                <%= f.text_field :dtddnguoithan, :class => "form-control input-sm" %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_hotennguoithan">ĐT nhà riêng</label>
              <div class="col-sm-9">
                <%= f.text_field :dtnhariengnguoithan, :class => "form-control input-sm" %>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_hotennguoithan">Email</label>

              <div class="col-sm-9">
                <%= f.text_field :emailnguoithan, :class => "form-control input-sm" %>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label" for="nhanvien_hotennguoithan">Địa chỉ</label>
              <div class="col-sm-9">
                <%= f.text_area :diachinguoithan,:class => "form-control input-sm" %>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <%= link_to nhanviens_path, class: "btn btn-danger", data: {remote: true} do %>
              <%= t "back" %>
          <% end %>
          <button type="submit" class="btn btn-primary">
            <%= t "save" %>
          </button>
        </div>
      </div>
    </div>
<% end %>