<%= form_for ([:categories, @dmquoctich]), :data => {remote: true}, :html => {:class => "form-horizontal", role: "form"} do |f| %>
    <div class="row text-center" style="padding: 15px;">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="dmquoctich_ten_vn" class="col-sm-3 control-label">Mã quốc gia</label>

          <div class="col-sm-9">
            <%= f.text_field :ma, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label for="dmquoctich_ten_vn" class="col-sm-3 control-label">Tên quốc gia VN</label>

          <div class="col-sm-9">
            <%= f.text_field :ten_vi, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label for="dmquoctich_ten_en" class="col-sm-3 control-label">Tên quốc gia EN</label>

          <div class="col-sm-9">
            <%= f.text_field :ten_en, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label for="dmquoctich_ten_ot" class="col-sm-3 control-label">Tên quốc gia JP</label>

          <div class="col-sm-9">
            <%= f.text_field :ten_ot, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label for="dmquoctich_ten_ot" class="col-sm-3 control-label">ISO</label>

          <div class="col-sm-9">
            <%= f.text_field :iso, :class => "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to categories_dmquoctiches_path, class: "btn btn-default", data: {dismiss: "modal"} do %>
          <%= t "back" %>
      <% end %>
      <button type="submit" class="btn btn-primary">
        <%= t "save" %>
      </button>
    </div>
<% end %>