<table class="table table-tripped table-hover">
  <thead>
  <tr class="bg-primary">
    <th>Tên Việt Nam</th>
    <th>Tên Tiếng Anh</th>
    <th>Tên Tiếng Nhật</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @vungbvs.each do |f| %>
  <tr>
    <td><%= f.ten_vi %></td>
    <td><%= f.ten_en %></td>
    <td><%= f.ten_ot %></td>
    <td style="width: 60px;">
      <%= link_to edit_categories_vungbv_path(f), :data => {remote: true}, :title => 'Cập nhật' do %>
          <i class="fa fa-edit fa-fw"></i>
      <% end %>
      <%= link_to categories_vungbv_delete_path(f), data: {remote: true}, :title => 'Xóa' do %>
          <i class="fa fa-trash-o fa-fw"></i>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
  <tfoot></tfoot>
</table>